.page {
  width: 1000px;
  margin: 71px auto;
}

body {
  background-color: #2F2E41;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

ul {
  display: flex;
  gap: 64px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
}

li a {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  text-decoration: none;
}

ul li a:hover {
  color: #00BFA6;
}

main {
  display: flex;
  justify-content: space-between;
}

main h1 {
  font-family: 'JetBrains Mono', monospace;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 40px;
  margin-left: 77px;
}

span {
  font-family: 'Open Sans', sans-serif;
  color: #00BFA6;
  font-weight: bold;
}

main p {
  font-size: 16px;
  line-height: 29px;
  font-family: 'Open Sans', sans-serif;
  color: #7D7987;
  margin-left: 82px;
}

main strong {
  font-weight: 700;
  font-size: 16px;
  line-height: 29px;
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
}

footer {
  color: #FFFFFF;
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 184px;
  margin-left: 290px;
  position: absolute;
  bottom: 23px;
}

footer a {
  color: #FFFFFF;
}

#line {
  width: 568px;
  height: 0px;
  margin: 0 -53px 27px;
  border: 1px #00BFA6 solid;
}

#cadeado {
  position: absolute;
  bottom: 20px;
}